@tailwind base;
@tailwind components;
@tailwind utilities;


.myContainer {
  display: grid;
  grid-template-columns: 115px 1fr;
  grid-template-rows: auto auto; 
  grid-gap: 10px; 
}
.pageContent {
  display: grid;
  grid-template-columns:340px 2fr;
  grid-template-rows: auto auto;
}


.leftNav {
  grid-column: 1;
  grid-row: span 2;
}

.navBar {
  grid-column: 2 / span 2;
  grid-row: 1; 
}

/* Player control button styles */
.audio-progress{
  appearance: none;
  accent-color: #00A661;
}
.audio-progress::-webkit-slider-thumb{
  -webkit-appearance: none;
height: 15px;
width: 15px;
border-radius: 50%;
background: #00A661;
cursor: pointer;
}

/* Responsive Layout for screens up to 1024px */
@media (max-width: 1024px) {
  .myContainer {
    grid-template-columns: 1fr;
  }
.pageContent{
  grid-template-columns: 1fr;
  row-gap: 10px;
}
  .navBar {
    grid-column: 1 / span 2; /* Span both columns */
    grid-row: auto;
  }
}
