@tailwind base;
@tailwind components;
@tailwind utilities;

.myContainer {
  display: grid;
  grid-template-columns: 115px 340px 2fr;
  grid-template-rows: auto auto; 
  grid-gap: 10px; 
}

.leftNav {
  grid-column: 1;
  grid-row: span 2; 
}

.navBar {
  grid-column: 2 / span 2;
  grid-row: 1; 
}

/* Responsive Layout for screens up to 1024px */
@media (max-width: 1024px) {
  .myContainer {
    grid-template-columns: 100px 1fr;
  }

  .navBar {
    grid-column: 1 / span 2; /* Span both columns */
    grid-row: auto;
  }
}
